@font-face {
  font-family: my-nerve;
  src: url(Mynerve/Mynerve-Regular.ttf);
}
:root {
  --left-container-width: 35%;
  --right-container-width: calc(100%-var(--left-container-width));

  font-family: my-nerve, cursive;
}
* {
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  display: flex;
}

#left-container {
  min-width: var(--left-container-width);
  background-image: url(rick-rothenberg-3gDOhoy-MDM-unsplash.jpg);
  background-size: cover;
  background-position: center center;
}
#right-container {
  min-width: var(--right-container-width);
}

fieldset {
  box-shadow: 0px 10px 6px black;
}
